h1 {
  color: purple;
  font-style: italic;
}

table {
  display: inline-block;
  float: right;
  margin-right: 400px;
}

.box {
  background-color: pink;
  width: 150px;
  height: 150px;
  border: 1px solid purple;
}

.restartButton {
  text-align: center;
  font-weight: bold;
  border: 1px solid purple;
  background-color: purple;
  height: 75px;
}

#displayTimer {
  display: inline-block;
  float: left;
  width: 150px;
  height: 150px;
  background-color: #EE82EE;
  color: DarkViolet;
  margin-left: 200px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}
